.root,.list-cell {
    -fx-font-size: 11pt;
    -fx-font-family: "Arial";
    -fx-base: rgb(31,31,31);
    -fx-background: rgb(31,31,31);
}

.tab-pane, .tab, .tab-content-area, .web-view {
    -fx-font-size: 11pt;
    -fx-font-family: "Arial";
    -fx-base: rgb(31,31,31);
    -fx-background: rgb(87,87,87);
}

.menu-bar {
	-fx-use-system-menu-bar: "true";
}